.box{
    width:200px;
    height:200px;
    background-color:olivedrab;
    position:relative;
    animation-name:anim;
    animation-duration:4s ;
}
@keyframes anim{
    0%{
        left:0;
        top:0;
        background-color:aqua;
    }
    25%{
        left:500px;
        top:0;
        backgroud-color:green;
    }
    50%
    {
        left:500px;
        top:500px;
        background-color:black
    }
    75%
    {left:0;
        top:500px;
        background-color:blue;


    }
    100%{
        left:0px;
        bottom-left500px;
        backgroud-color:green;
    }
}