:root{
    --color-pale-violet: hsl(276, 100%, 81%);
    --color-moderate-violet: hsl(276, 55%, 52%);
    --color-moderate-violet-a: hsla(276, 55%, 94%);
    --color-moderate-violet-aa: hsla(276, 55%, 96%);
    --color-desaturated-dark-violet: hsl(271, 15%, 43%);
    --color-grayish-blue:hsl(206, 6%, 79%);
    --color-grayish-blue-a:hsla(206, 6%, 79%, 20%);
    --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --color-dark-grayish-violet: hsl(270, 7%, 64%);
    --color-light-magenta: hsl(293, 100%, 63%);
    --color-light-violet: hsl(264, 100%, 61%);
    --color-white:  rgb(248,248,248);
    --color-white-gray: rgb(246,246,246);
    --color-white-gray-gray: rgb(218,218,218);
    --font-size: 16px;
    --space-chat: 4px;
}

body{
    margin: 0;
    height: 0;
    font-size: var(--font-size);
    font-family: 'Rubik', sans-serif;
}

*{
    box-sizing: border-box;
}

.main{
    position: relative;
    background-color: var(--color-white);
    z-index: -2;
    min-height: 100vh;
    padding-top: 60px;
    display: grid;
    overflow: hidden;
}

.main::before{
    background-image: linear-gradient(180deg, var(--color-light-magenta), var(--color-light-violet));
    border-radius: 0 0 560px 560px;
    content: '';
    height: 1000px;
    width: 570px;
    position: absolute;
    right: 50%;
    top: -450px;
    z-index: -1
}

.main__mobile{
    border: 10px solid #ffffff;
    overflow: hidden;
    border-radius: 20px;
    max-width: 260px;
    margin: 0 auto;
    background-color: var(--color-white-gray);
    position: relative;
    box-shadow: 5px 20px 25px var(--color-grayish-blue);
}

.main__mobile::after{
    content: '';
    position: absolute;
    border-radius: 0 0 12px 12px;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 18px;
    width: 130px;
    background-color: #ffffff;
}

.user{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 16px var(--color-grayish-blue);
    background-image: linear-gradient(90deg, var(--color-light-violet), var(--color-light-magenta));
}

.back{
    color: #ffffff;
    margin: 10px 7px 10px 10px;
    border: none;
    font-weight: 400;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 500%;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.profile{
    color: #ffffff;
    margin-left: 10px;
}

.profile h5{
    margin: 0px 0 2px 0;
    font-weight: 400;
}

.profile p{
    margin: 4px 0 0 0;
    font-weight: 400;
    font-size: .4rem;
}
.chat__group{
    display: flex;
    flex-direction: column;
    padding-top: var(--space-chat);
    padding-bottom: var(--space-chat);
}

.chat__in{
    border-radius: 15px 15px 15px 5px;
    font-size: .45rem;
    padding: 10px;
    margin: var(--space-chat);
}

.chat__in.text{
    background-color: var(--color-moderate-violet-a);
    color: var(--color-moderate-violet);
    width: 60%;
}

.chat__in.automatic{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg, var(--color-light-magenta), var(--color-light-violet));
    color: #ffffff;
    align-content: flex-end;
    padding-left: 20px;
    width: 70%;
    font-weight: 400;
}

.chat__in.automatic span{
    font-weight: 700;
    font-size: .7rem;
}

.chat_images{
    align-self: flex-end;
    margin: 0px 10px 0 0;
}

.chat_images img{
    width: 42px;
    margin-left: 4px;
    box-shadow: 0px 1px 6px var(--color-grayish-blue);
    border-radius: 5px;
}

.chat__out{
    background-color: #ffffff;
    border-radius: 15px 15px 5px 15px;
    font-size: .45rem;
    padding: 10px;
    width: 60%;
    color: var(--color-dark-grayish-violet);
    margin: var(--space-chat);
    right: 0;
    align-self: flex-end;
    box-shadow: 0px 1px 6px var(--color-grayish-blue);
}

.keyboard{
    display: flex;
    margin: calc(2*var(--space-chat)) var(--space-chat);
    justify-content: space-between;
}

.keyboard input[type=text]{
    padding:10px;   
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: .7rem;
    flex-grow: 1;
}

.keyboard input[type=text]::placeholder {
    color:var(--color-grayish-blue);
  }

.keyboard button{
    border: none;
    color: var(--color-very-dark-desaturated-violet);
    background-color: #ffffff;
    border-radius: 0 50% 50% 0;
    font-size: 1.5rem;
}

.main__text{
    padding: 50px 30px;
    text-align: center;
}

.main__text__h1{
    font-size: 2.48rem;
    font-weight: 500;
    color: var(--color-very-dark-desaturated-violet);
    margin-bottom: 22px;
}

.main__text__p{
    color:var(--color-dark-grayish-violet);
    max-width: 450px;
    margin: auto;
    font-size: 1rem;
    line-height: 25px;
}



@media (min-width: 1224px){
    .main{
        grid-template-columns: 1fr 1fr;
        padding-top: 0;
    }

    .main__mobile {
        margin: auto 50px auto auto;
    }

    .main__text{
        text-align: left;
        margin: auto auto auto 50px;
    }

    .main::before{
        right: 0;
        left: -100px;
        top: -120px;
        height: 100vh;
    }

    .main::after{
        background-color: var(--color-moderate-violet-aa);
        border-radius: 560px 560px 0 0;
        content: '';
        width: 570px;
        height: 100vh;
        position: absolute;
        bottom: -140px;
        right: -260px;
        z-index: -1
    }
}