<!-- <button id="btn" (click)="showMsg($event)">hit </button>
<p id="para" class="paragraph">hi  i am spider man</p>
<input type="text" class="form-control" [(ngModel)] = "person">
observartion 
to dispaly the values we need to use the two way binding import formsModule from Angular forms
<p>{{person}}</p>
<input type="text" id="txt" (keyup)="printval($event);" value="kris" >
<button id="btn1" (click)="changeEvent($event)">submit</button>
<app-tgle></app-tgle> -->
<h3 class="title">chainsys</h3>
<!-- <div class=" container">
<div class="row">
    <div class="col-sm-4 columnPan">
        <app-left></app-left>
     </div>
        <div class="col-sm-6 columnPan">
            <app-middle></app-middle>
         </div>
            <div class="col-sm-2 columnPan">
                <app-right></app-right> 
            </div>
</div> -->
<!-- <app-forms></app-forms> -->
<app-cycle></app-cycle>