.links li{
    display:block;
    background-color:rgb(28, 160, 68);
    margin:0%;
}
.links a{
    color: white;
    margin-bottom: 0%;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.image img{
  position: relative;
    left: 56%;
    height: 12px;
    width:18px;
    
    transform:translateY(-60%)
}
ul{
    margin-left:-3%;
}
body{
  background-color: rgb(180, 33, 57);
  margin-top: -1%;
    margin-left: -5px;
}

#mahe{
  float:right;
  border-radius: 50%;
  width:142px;
}
 
    

