.field {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    margin-left: 3rem;
}

h1{
    margin-top: 1rem;
    margin-left: 6rem;

}

hr {
    width: 480px;
}

#btn {
    background-color: rgb(41, 41, 250);
    color: white;
    margin-left: 12rem;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    background-color:rgb(216, 83, 83);
    width: 500px;
    justify-content: center;
    align-items: center;
}
input {
    width: 210px;
}

#find{
    height: 2.7rem;
    width: 15rem;
}
form {
    width: 400px;
}

button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    margin-left: 8rem;
    padding: .5rem 1rem;
    transition: 0.5s;
}
.search {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    background-color:aqua;
    padding: 10px 10px;
    border: none;
    margin-left:6px ;
    border-radius: 10px;
    color: white;
    transition: 0.5s;
}



.check {
    margin-left: 12rem;
}

#table {
    width: 1350px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3rem;
    color: white;
  }

  table tr th,
  table tr td {
    border: 1px solid white;
    padding: 12px 7px;
  
  }

  #table1{
    width: 1350px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-top: 3rem;
    color: red;
    margin-bottom: 2rem;
  }

#msg {
    margin-top: 3rem;
    margin-left: 25rem;
}
  h2{
      text-align: center;
      margin-top: 3rem;
  }